<ng-container *ngIf="($storeWeatherData | async) as weatherData">
  <div class="container" *ngIf="weatherData['weatherData']">
<div class="upper-data">
<img src="../assets/sunset.jpg">
    <div class="weather-data" *ngIf="weatherData['weatherData'].Location && weatherData['weatherData'].Current">
      <div class="location" *ngIf="weatherData['weatherData'].Location.Name">{{ weatherData['weatherData'].Location.Name }}</div>
      <div class="temperature">{{ weatherData['weatherData'].Current.Temp_f | number: '1.0-0'}}°F</div>
    </div>
  </div>

  <div class="lower-data" *ngIf="weatherData['weatherData'].Current">
    <div class="more-info-label">
      <a href="#">More information</a>
    </div>
    <div class="more-info-container">
      <div class="weather-info">
        <img src="../assets/wind-speed.webp">
        Wind Speed: {{ weatherData['weatherData'].Current.Wind_mph }} MPH
      </div>
      <div class="weather-info">
        <img src="../assets/wind-direction.webp">
        Wind Direction: {{ weatherData['weatherData'].Current.Wind_dir }}
      </div>
      <div class="weather-info">
        <img src="../assets/cloud-coverage.webp">
        Cloud coverage: {{ weatherData['weatherData'].Current.Cloud }}% 
      </div>
      <div class="weather-info">
        <img src="../assets/humidity.webp">
        Humidity: {{ weatherData['weatherData'].Current.Humidity }}% 
      </div>
    </div>
  </div>
</div>
</ng-container>